.row.blue#company
  =form_for @company do |f|
    .columns.large-6
      %h1 Edit Company Profile
    .large-6.columns.right
      %button.button.submit Save
      =link_to 'Cancel', company_path(@company), {:class=>"button"}
    .columns.large-12
      -if @company.errors.any?
        =render "shared/errors", target: @company
    .columns.large-4
      .photo
        .upload{:id => "company-pic"}
        .pic
          = image_tag @company.logo.url
    .columns.large-8
      .row
        .columns.large-5
          = f.label :name, :class => "inline right"
        .columns.large-7
          = f.text_field :name, :placeholder => "Company Name"
      .row
        .columns.large-5
          = f.label :website, :class => "inline right"
        .columns.large-7
          = f.text_field :website, :placeholder => "Company URL"
      .row
        .columns.large-5
          = f.label :email, :class => "inline right"
        .columns.large-7
          = f.email_field :email, :placeholder=>"Email"
      .row
        .columns.large-5
          = f.label :facebook_url, :class => "inline right"
        .columns.large-7
          = f.text_field :facebook_url, :placeholder=>"Facebook URL"
      .row
        .columns.large-5
          = f.label :twitter_handle, :class => "inline right"
        .columns.large-7
          = f.text_field :twitter_handle, :placeholder=>"Twitter Handle"
      .row
        .columns.large-5
          = f.label :year_founded, :class => "inline right"
        .columns.large-7
          = f.text_field :year_founded, :placeholder=>"Year Founded"
      .row
        .columns.large-5
          = f.label :industry, :class => "inline right"
        .columns.large-7
          = f.text_field :industry, :placeholder=>"Industry"
      .row
        .columns.large-5
          = f.label :company_type, :class => "inline right"
        .columns.large-7
          = f.text_field :company_type, :placeholder=>"Company Type"
:plain
  <!-- Copied from app/views/devise/registrations/edit.html.haml -->
  <!-- TODO: DRY up this code to minimize code repetition -->
  <!-- TODO: Should we add svg to the list of supported extensions? -->
  <script type="text/javascript">
    $('.button.submit').on('click', function(){
      $(this).find('form').submit();
    });
    $(document).ready(function() {
      // company pic uploading
      $('#company-pic').fineUploader({
        request: {
          endpoint: "#{upload_company_path(@company)}"
        },
        multiple: false,
        validation: {
          allowedExtensions: ['jpeg', 'jpg', 'gif', 'png', 'svg'],
          sizeLimit: 2048000, // 2 MB = 2000 * 1024 bytes,
          itemLimit:1
        },
        text: {
          uploadButton: 'Update Company Logo'
        }
      }).on('complete', function(event, id, fileName, responseJSON) {
        if (responseJSON.success) {
          var img = new Image();
          img.src = responseJSON.filepath;
          $(this).closest('.photo').find('img').attr('src', img.src);
          $(this).closest('.photo').find('.qq-uploader').remove();
        }
      });    
    });
  </script>
