- content_for(:title, "#{@company.name} Company Profile")
.row
  .columns.small-12
    #profile.blue
      %header
        .row
          .small-6.columns
            %h1 
              %span Company Profile
          -if current_user && CompaniesHelper::user_can_edit_company(current_user, @company)
            .small-6.columns.right
              =link_to "Edit", edit_company_path, :class=> "button"
      .row
        .large-4.columns
          .photo
            .pic
              = image_tag @company.logo.url
            
        .large-6.columns.profile.end
          %h5.name="#{@company.name}"
          -if @company.website.present?
            %p.website=link_to "#{@company.website}", "#{@company.website}"
          -if @company.email.present?
            %p.email=link_to "#{@company.email}", "mailto:#{@company.email}"

          %ul.social.inline-list
            - if @company.twitter_handle.present?
              %li
                =link_to "#{@company.twitter_url}", { :title => "Twitter", :target=>"_blank"} do
                  %i{ :class=> "icon icon-twitter-sign" }
            - if @company.facebook_url.present?
              %li
                =link_to "#{@company.facebook_url}", { :title => "Facebook", :target=>"_blank"} do
                  %i{ :class=> "icon icon-facebook-sign" } 

          -if @company.year_founded.present?
            .field
              %h4 Founded
              %p= @company.year_founded

          -if @company.industry.present?
            .field
              %h4 Industry
              %p= @company.industry

          -if @company.company_type.present?
            .field
              %h4 Type
              %p= @company.company_type

